aio-pika==9.1.4
celery==5.3.4
fastapi==0.103.1
httpx==0.24.1
loguru==0.7.1
pymongo==4.5.0
pydantic-settings==2.0.2
python-dotenv==1.0.0
uvicorn==0.23.0

# dev
flower==2.0.1
pytest==7.4.1
pytest-asyncio==0.21.1
