{
  "version": 1,
  "disable_existing_loggers": false,
  "formatters": {
    "default": {
      "style": "{",
      "use_colors": true,
      "datefmt": "%Y-%m-%dT%H:%M:%S",
      "()": "uvicorn.logging.DefaultFormatter",
      "format": "{asctime}.{msecs:03.0f} | {levelname: \u003c8} | UVICORN.{module}:{funcName}:{lineno} - {message}"}},
  "handlers": {
    "default": {
      "formatter": "default",
      "stream": "ext://sys.stderr",
      "class": "logging.StreamHandler"},
    "access": {
      "formatter": "default",
      "stream": "ext://sys.stdout",
      "class": "logging.StreamHandler"}
  },
  "loggers": {
    "uvicorn.error": {
      "propagate": false,
      "handlers": [
        "default"]},
    "uvicorn.access": {
      "propagate": false,
      "handlers": [
        "access"]}
  }
}
